{% for obj in ethernet_interfaces %}
interface {{ obj.interface }}
    no switchport
    ip address {{ obj.ipv4addr }}
    ipv6 address {{ obj.ipv6addr }}
    mac-address {{ obj.mac }}
    lldp tlv-set management-address {{ obj.ipv4addr | ipaddr('address') }} 
    no shutdown
{% endfor %}
